{% extends 'base.html'%}
{%  block body %}
<h3 style="height: 40px;">Edit the task</h3>
<form  method="post" action="/update/{{toto.sno}}">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Rename Task</label>
    <input name="title" value="{{toto.title}}" type="text" class="form-control" id="exampleInputtask1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputdesc1" class="form-label">Rename Description</label>
    <input name="desc" value="{{toto.desc}}" type="text" class="form-control" id="exampleInputdesc1">
  </div>
  <div  class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1"></label>
  </div>
  <div style="height: 60px;">
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<h3 style="height: 50px;">Pending Tasks</h3>
<table class="table">
<thead>
     <tr>
      <th scope="col">Sno</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Date Added</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    
    
  <tbody>
    {% for toto in allTodo %}
   <tr>
          <td> scope="row">{{loop.index}}</td>
          <td>{{toto.title}}</td>
          <td>{{toto.desc}}</td>
          <td>{{toto.date_created}}</td>
          <td>  <a href="/delete/{{toto.sno}}" type="button" class="btn btn-outline-danger btn-sm mx-1">Delete</button></a>
           <a href="/update/{{toto.sno}}" type="button" class="btn btn-outline-warning btn-sm mx-1">Update</button></a></td>
          {% endfor %}
      </tr>
    </tbody>
</table>


{% endblock body %}
      
    
    
  